.fig1,
.fig2,
.fig3,
.fig4,
.fig5 {
  position: absolute;
  border-radius: 5px;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  background-size: contain;
  height: 30vw;
  width: 30vw
}

.fig1 {
  background-image: url("/fig/fig4.png");
}

.fig2 {
  background-image: url("/fig/fig5.png");
}

.fig3 {
  background-image: url("/fig/fig1.png");
}

.fig4 {
  background-image: url("/fig/fig3.png");
}
.fig5 {
  background-image: url("/fig/fig2.png");
}

.logo {
  background-image: url("/logo.png");
  width: 18vw;
  height: 14vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .container {
    display: none;
  }
}
