.container {
  max-width: 1160px;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .container {
    padding: 0 40px;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #181818;
  //background-image: url('/hero-bg.png');
  background-size: cover;
}

.hero_nav {
  margin: 0 auto;
  margin-top: 45px;
  text-align: right;
  position: absolute;
  max-width: 1160px;
  transition: 0.3s all ease;
}

.hero_nav:hover {
  transform: translate(0, 5px);
}

.hero_nav ul {
  padding: 0;
}

.hero_nav li {
  list-style: none;
  float: right;
  padding: 20px 0 20px 50px;
  color: #ffffff;
  font-weight: bold;
}

.hero_nav li a {
  padding-bottom: 3px;
}

.hero_nav li a:hover {
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}

.hero_nav li:last-child a {
  border-bottom: 2px solid #ffffff;
}

.hero_inner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_figure {
  width: 464px;
  margin-top: 27px;
  margin-left: 70px;
}

.hero_inner .logo {
  width: 250px;
  margin-left: 87px;
}


@media (max-width: 1280px) {
  .hero_nav, .hero_inner {
    justify-content: center;
    display: flex;
  }
  .hero_nav li {
    padding: 20px 25px;
  }
}

.hero_nav, .hero_inner {
  justify-content: center;
  display: flex;
}
.hero_nav li {
  padding: 20px 25px;
}

.hero_description {
  position: absolute;
  color: #ffffff;
  text-align: center;
  bottom: 0;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px;
  margin-bottom: 20px;
  transition: 0.3s all ease;
}

.hero_description img {
  width: 40px;
}

.hero_description:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}

.work {
  width: 100%;
  background: #181818;
  padding: 90px 0;
}

.about {
  width: 100%;
  background: #181818;
  padding: 90px 0;
}

.about_text {
  width: 40rem;
}

.about_img {
  width: 25rem;
  margin-left: auto;
}

.about_img img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 12px 25px #00000038;
}

@media (max-width: 1180px) {
  .about_img {
    margin: 0 30px;
    width: 20rem;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .about_text {
    width: auto;
  }
}

.contact {
  width: 100%;
  background: #181818;
  padding: 90px 0;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.3;
  font-size: 2rem;
  color: #ffffff;
}

.description {
  line-height: 1.5;
  font-size: 1.2rem;
  color: #b5b5b5;
  font-weight: 500;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: #52566e;
  color: #ffffff;
  box-shadow: 0 12px 25px #00000038;
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  align-items: flex-end;
  transition: transform .2s ease-out;
}

@media (max-width: 800px) {
  .card {
    flex-basis: 100%;
  }
}

.card:hover,
.card:focus,
.card:active {
  transform: translate(0, -7px);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin: 0 0 35px;
    padding: 3rem 1.5rem;
  }
  .about_img {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero_nav {
    display: none;
  }
}

.button__icon {
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 800;
  font-family: Raleway;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  width: fit-content;
  padding: 20px 36px 25px;
  border: 2px solid #ffffff;
  margin-top: 30px;
  transition: transform .2s ease-out;
}

.button__icon img {
  width: 25px;
  margin-bottom: -7px;
  margin-left: 20px;
  transition: all .2s ease-out;
}

.button__icon:hover {
  cursor: pointer;
}

.button__icon:hover img {
  transform: translate(2px, 0);
  margin-left: 30px;
}
