@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  padding: 40px 0;
  background: #141414;
  color: #535353;
  font-weight: 500;
  font-size: 1rem;
}

footer img {
  width: 100px;
}


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {
  color: #555555;
}
input:-moz-placeholder {
  color: #555555;
}
input::-moz-placeholder {
  color: #555555;
}
input:-ms-input-placeholder {
  color: #555555;
}

textarea::-webkit-input-placeholder {
  color: #555555;
}
textarea:-moz-placeholder {
  color: #555555;
}
textarea::-moz-placeholder {
  color: #555555;
}
textarea:-ms-input-placeholder {
  color: #555555;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
